/****************************************************************
UNIDADES DE MEDIDAS RELATIVAS

*EM
    esta medida se establece con relacion al font-size mas cercano

*REM 
    esta medida se establece con relacion al font-size del html

****************************************************************/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /*<--- Unidad General 10px*/
}
:root{
    --ColorNaranja: #FF9454;
}
.main-1{
    width: 37.5rem;
    height: auto;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
}
.items-1{
    width: 18rem;
    height: 22rem;
    background-color: var(--ColorNaranja);
    border-radius: 1rem;
}
.items-2{
    width: 18rem;
    height: 10rem;
    background-color: var(--ColorNaranja);
    border-radius: 1rem;
    
    margin-top: 3rem; 
    align-self: flex-end;
}
.items-3{
    width: 18rem;
    height: 17rem;
    background-color: var(--ColorNaranja);
    border-radius: 1rem;
    
    margin-top: 3rem;
    align-self: center;
}
.items-4{
    width: 18rem;
    height: 4rem;
    background-color: var(--ColorNaranja);
    border-radius: 2.5rem;
    
    margin-top: 3rem;
    align-self: flex-end;
}
