*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --ColorAqua:#4FE0B0;
    --ColorAzul:#010B40;
}
html{
    font-size: 62.5%; /*<--- Unidad General 10px*/
}
.main{
    width: 35.5rem;
    margin: auto;
    padding: 0.7rem;
    margin-top: 3.5rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main div{
    width: 13rem;
    height: 13rem;
    margin: 1rem;
    text-align: center;
    border-radius: 1.5rem;
}
div{
    display: block;
}
.items1{
    background-color: var(--ColorAqua);
}
.items2{
    background-color: var( --ColorAzul);
}